/*App Name:Rapa music FM*/
:root{
    --silver: #aaaaaaff;
--silver-2: #bbbbbbff;
--silver-3: #ccccccff;
--platinum: #ddddddff;
--antiflash-white: #eeeeeeff;
}

*{
margin:0;
padding:0;
}

.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--silver);
    align-items: center;
    color:var(--antiflash-white);
}
.nav-logo{
    height: 7vh;
    padding-left: 1vmin;
}
.nav-link{
    margin-right: 2vmin;   
    text-decoration: none;
    color: #eeeeeeff;
}
.nav-link:hover{
    text-decoration: underline;
    scale: 0.98;
    cursor:pointer
}


.nav-title{
    font-size: 4.5vmin;
}
.body-content{
width: 100%;
height:fit-content;
min-height: 92vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 10vh;
background: linear-gradient(0.25turn, var(--antiflash-white), var(--silver),var(--silver-3)  );
}

.footer{
background-color:black;
height: fit-content;
min-height: 20vh;
display: flex;
align-items: center;
justify-content: center;

}
.music-grid{
    margin-bottom:10vh;
    width: 60%;
    height: 60vh;
    background-color: var(--antiflash-white);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1vmin;
}
.lyric{
    font-size: 4vmin;
    text-align: center;
    color: var(--silver);
    margin-top: 2vmin;
}

.image-box{
width: 100%;
height: 100%;
max-height: 60vh;
position: relative;
left: 0;
top: 0;
}
.music-image{
width: 45vmin;
height: 45vmin;
transition: 0.5s ease;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
z-index: 1;
}

.music-supp-text{
    font-size: 4vmin;
    text-align: center;
    color: var(--silver);
}
.artist-name{
font-size: 5vmin;
color: var(--silver);
text-align: center;

}

.album{

    color: var(--silver);
    font-size:5vmin;
    text-align: center;
}

.song-name{
    font-size:8.5vmin;
color: var(--silver);
text-align: center;
line-height: 80%;
margin-bottom: 2vmin;
}
.play-button{
    width:  40vmin;
    height: 40vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    Z-index: 0;
}
.music-image:hover{
    filter: brightness(50%);
    opacity: 0.5;
    cursor: pointer;
}